<div class="main-section content-padding padding-top padding-bottom margin-bottom dp-flex-column780">

    <img src="./img/croissant.jpg">

    <div class="main-content">
        <div class="main-text">
            <h1 class="font-bold text-align480">Französische Croissants</h1>
            <div class="font-normal">
                Schmackhafte Croissants können auch zu Hause sehr einfach gebacken werden. Mit ca. 30 Minuten
                Aufwand
                kannst du ein wundervolles Frühstück zaubern. <br>
            </div>
        </div>
        <a class="button font-semi-bold" href="recipe.html" onclick="setToLoadedRecipe(2)">Rezept öffnen</a>

        <a href="recipe.html" onclick="setToLoadedRecipe(2)">

</div>




