<div class="rezepte-section padding-top padding-bottom margin-bottom">

    <h1 class="font-bold">Lust auf was Neues?</h1>

    <div class="rezepte-content content-padding">
        <div class="rezepte-content-rezept">
            <a href="recipe.html" onclick="setToLoadedRecipe(1)"><img src="./img/schnitzel.png"></a>
            <span class="font-normal">Panniertes Schnitzel</span>
        </div>

        <div class="rezepte-content-rezept">
            <a href="recipe.html" onclick="setToLoadedRecipe(0)"><img src="./img/lamb-chops.png"></a>
            <span class="font-normal">Lamm Rippchen</span>
        </div>

        <div class="rezepte-content-rezept">
            <a href="recipe.html" onclick="setToLoadedRecipe(3)"><img src="./img/carbonara.jpg"></a>
            <span class="font-normal">Spaghetti Carbonara</span>
        </div>
    </div>

</div>